.swagger-section .swagger-ui-wrap {
    min-width: 95%;
}

.body-textarea .required {
    min-height: 360px !important;
    width: 100% !important;
}

.input_apiKey_entry {
!important;
    width: 560px !important;
}